# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# MLflow
mlruns/

# Dataset files
data/
datasets/

# Model files
*.pkl
*.joblib

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db